/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

/* Root variables */
:root {
  --button: 5px 10px;
  --blue: #162f9e;
  --lblue: rgba(40, 65, 175, .2);
  --black: #111;
  --white: #dfdfdf;
  --font: 'Merriweather Sans', sans-serif;
}

/* Styling for all elements within containers */
.container * {
  border-radius: 5px;
}

/* Global styles */
html {
  background-color: var(--black);
  color: var(--white);
  font-size: 15px;
  font-family: var(--font);
}

body {
  margin: 0;
  padding: 0;
}

/* Top navigation bar */
.top-nav {
  background: linear-gradient(90deg, rgba(37, 76, 219, 1) 36%, rgba(98, 188, 242, 1) 100%);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10vw;
  padding-left: 10vw;
  height: 120px;
  color: var(--white);
  font-size: 1rem;
}

/* Logo */
.logo h1 {
  font-size: 3rem;
}

/* Buttons */
.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font);
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80vw;
  margin: 30px auto;
}

/* Search input */
input[type="search"] {
  position: relative;
  padding: var(--button);
  border: none;
}

/* Select dropdown */
select {
  position: relative;
  padding: var(--button);
  border: none;
}

/* DataTables length */
/* #gameList_length {
  position: relative;
  float: right;
  z-index: 99;
} */

/* Table cell styles */
td:nth-child(1) {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Table header styles */
th {
  text-align: left;
  background-color: var(--blue);
  padding: var(--button);
}

/* Hover effect for table headers */
th:hover {
  background-color: var(--lblue);
}

/* Table row styles */
tr {
  text-indent: 5px;
}

/* Hover effect for table rows */
tr:hover {
  background-color: var(--lblue);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

/* Table cell styles */
td {
  font-size: 1em;
  padding: var(--button);
}

/* DataTables scroll */
.dataTables_scroll {
  padding: 10px 0;
}

/* DataTables info */
#gameList_info {
  background-color: var(--lblue);
  padding: 5px;
}

/* DataTables pagination */
#gameList_paginate {
  padding: 5px;
  float: right;
  position: relative;
  top: -29px;
  left: 7px;
}

/* DataTables pagination link styles */
#gameList_paginate a {
  padding: var(--button);
  margin-right: 3px;
  background-color: var(--lblue);
}

/* Hover effect for pagination links */
#gameList_paginate a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}

/* Scrollbar track styles */
::-webkit-scrollbar-track {
  background: var(--lblue);
  border-radius: 5px;
  cursor: pointer;
}

/* Scrollbar thumb styles */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: var(--lblue);
  cursor: pointer;
}

/* Footer styles */
footer {
  text-align: center;
}

/* Footer paragraph styles */
footer p {
  text-align: center;
}

/* Font Awesome icon colors */
.fas, .fab {
  color: var(--blue);
}

/* Link styles */
a:link {
  color: var(--blue);
  text-decoration: none;
}

/* Visited link styles */
a:visited {
  color: var(--blue);
}
